.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #0b1d1d;
		color: #C7C7C7;
	}
	a {
		color: #40CECC;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #e1ffff;
		color: #0c0c0c;
	}
	a {
		color: #042929;
	}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
