.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0b1d1d;
    /* color: #c7c7c7; */
    color: #40cecc;
  }
  a {
    color: #40cecc;
  }
  p {
    color: #40cecc;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e1ffff;
    color: #0c0c0c;
  }
  a {
    color: #042929;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 1em;
}

.small-icon {
  font-size: 70%;
}
