@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tags */
@layer base {
	body {
		@apply bg-slate-900 text-slate-400;
	}
	a {
		@apply hover:text-primary-500;
	}
	h1 {
		@apply text-4xl font-bold text-gray-200;
	}
	h2 {
		@apply text-lg font-bold text-gray-200 md:text-2xl;
	}
	h3 {
		@apply text-base font-medium;
	}
	th {
		@apply px-3 py-2 md:px-6 md:py-3;
	}
	li {
		@apply cursor-pointer rounded-r-lg px-3 py-2 md:px-6 md:py-4;
	}
	td {
		@apply px-3 py-2 md:px-6 md:py-4;
	}
	input {
		@apply bg-transparent focus:outline-none;
	}
	hr,
	header,
	ul,
	table,
	tr,
	td,
	div {
		@apply border-slate-800;
	}
}

/* Custom component classes */
@layer components {
	.statusPill {
		@apply flex max-w-min items-center justify-center rounded-full bg-slate-800 px-2 py-1 text-xs;
	}
	.menuItems {
		@apply absolute left-0 z-10 mt-2 w-56 origin-top-left divide-y divide-gray-700 rounded-md bg-slate-800 focus:outline-none;
	}
	.menuItem {
		@apply w-full px-6 py-4 text-left text-sm text-slate-400 hover:bg-slate-700;
	}
	.sidebarTab {
		@apply w-full border-2 border-transparent text-slate-400 hover:border-slate-400 hover:bg-slate-700;
	}
}

/* custom utility classes */
@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
